.img-responsive {
    display: inline;
}
a {
    text-decoration: none;
}

nav {
    margin: 0;
    padding: 0;
}
nav ul {
    list-style: none;
    background: white
}

nav li {
    display: inline-block;
    padding: 50px;
    font-size: 20px
}
h1 {
    display: inline;
    text-align: center;
}
body {
    background-color: #313C74;
    color: white;
}
div .logo {
    background-color: #182257;
}
@media (max-width: 797px) {
    body {
        padding-right: 0px;
        padding-left: 0px;
        border: none;
    }
    .container-fluid {
        padding-right: 0px;
        padding-left: 0px;
    }
}
